<h1> Welcome to my LinkedIn profile! </h1>
<div class="profile">
  <h1> Jordan Shields </h1>
  <h2> Currently I am a bartender at Market Street Grill/Oyster Bar </h2>
<p> Believe it or not, I actually have no desire to learn code.  I wish to understand the concepts and very basics of code to be able to recognize everything going on, but have no desire to actually become a programmer/coder in any way, shape or form.  Some people love it, power to them. I struggle with code, therefore not looking to pursue anything further with it. </p>
</div>
<img src="http://placekitten.com/g/50/50" 
     style="margin-left: 10px"/>
<a href="https://www.linkedin.com/in/jordanhshields"> My LinkedIn! </a>