html { 
  background: url(https://www.flickr.com/photos/rp_ang/17893060192/in/explore-2015-05-20/) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.profile {
  text-align: center;
  background: lightgray;
  padding: 10px;
  marging: 10px;
}
.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
}

.profile img {
   width: 100px;
   height: 100px;
   border-radius: 50px;
}

