html { 
  background: url(http://bit.ly/1Hy2jlJ) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
.profile {
  text-align: center;
  background: lightgray;
  padding: 10px;
  marging: 10px;
}
.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
 }

 .profile img {
   width: 100px;
   height: 100px;
   border-radius: 50px;
 }

